%table.table.table-striped.table-hover.table-responsive.restaurants_table
  %thead.thead-inverse
    %tr
      %th{colspan: 3}
        =restaurant.name
    %tr
      %th id
      %th Name
      %th Price
  %tbody
    = render partial:"meals/restaurant_meals", locals: { meals: meals }
          