.container.login-form
  %h1.login-header Admin Login
  .card
    .card-block
    %form.input-group
      %span.input-group-addon
        = icon('envelope-o')
      %input.form-control{type: "email", required: true, placeholder: "Email"}
       
    %form.input-group
      %span.input-group-addon
        = icon('lock')
      %input.form-control{type: "password", required: true, placeholder: "Password"}
    %form.input-group  
      %button.btn.btn-primary.login-button{type: "submit"}
        = icon('sign-in')
        Login
      
      
      
    