.container
  %h1 Admin Dash
  .dropdown
    %button.btn.btn-success.dropdown{ id: "dropdownMenuDates", type: "button", aria: { haspopup: "true", expanded: "false"}, data: {toggle: "dropdown"}}
      Dates
    .dropdown-menu{ aria: { labelledby: "dropdownMenuDates"} }
      - Date.today.upto(Date.today+14).each do |date|
        .dropdown-item
          = link_to date.strftime('%a %d %b %Y'), admin_restaurant_zones_date_path(delivery_date: date), remote: true 
  #insert-table