#dropdownMenuDates {
  cursor: pointer;
}
.table {
  margin-top: 25px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}
.table thead tr th {
  border-top: none;
}
tbody {
  background-color: white;
  color: #333;
}
a .fa-trash-o {
  color: rgb(217, 83, 79);
}