.login-form {
  text-align: center;
  width: 350px;
  margin-top: 100px;
}
.login-header {
  color: white;
  font-family: 'Exo'
}
.input-group{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
}
.input-group-addon {
  width: 40px;
}
.login-button {
  background-color: #337ab7;
  cursor: pointer;
  margin-bottom: 15px;
  width: 100%;
}